<div class="relativebox">
    <div class="intro">
        <div>
            Use the form below to search for houses to buy. You can search by place-name, postcode, or click 'My location', to search in your current location!
        </div>
    </div>
    <form class="searchRorm" action="#">
        <input type="button" id="myLocation"/>
        <input type="text" id="searchWord" placeholder="Input your city"/>
        <input type="submit" id="find" value=""/>
    </form>
    <div class="error"></div>
</div>